/* COLOR */

$black : #000;
$white: #fff;
// Body
$body_background-color: #373737;

// Header
$header_background-color: $black;

// Main
$album_background:  $black;
$album_title-color: $white;
$album_author-color: #4e4e4e;
$album_year-color: $white;
